---
name: Docs

on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
        bundler-cache: true
    - name: Run Yard Doc
      run: |
        gem install yard
        yard doc
    - name: Deploy GH Pages
      uses: JamesIves/github-pages-deploy-action@v4.7.2
      with:
          branch: gh-pages
          folder: doc/
