---
name: Spec

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    -
      cron: "45 3 * * *"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-12]
        ruby: ['3.0', '3.1', '3.2']
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: false
    - name: MacOs Dependencies
      run: |
        brew tap ethereum/ethereum
        brew install --verbose pkg-config automake autogen ethereum solidity
      if: startsWith(matrix.os, 'macOS')
    - name: Ubuntu Dependencies
      run: |
        sudo add-apt-repository -y ppa:ethereum/ethereum
        sudo apt-get update
        sudo apt-get install ethereum solc libyaml-dev
      if: startsWith(matrix.os, 'Ubuntu')
    - name: Run Geth
      run: |
        geth --dev --http --ipcpath /tmp/geth.ipc &
        disown &
    - name: Gem Dependencies
      run: |
        git submodule update --init
        bundle install
    - name: Run Tests
      run: |
        bundle exec rspec
      env:
        COVERAGE: true
        INFURA_TOKEN: ${{ secrets.INFURA_TOKEN }}
